:root {
          --primary-color: #e60012;         /* Основной брендовый цвет */
          --secondary-color: #f7f7f7;       /* Цвет фона второстепенных блоков */
          --background-color: #ffffff;      /* Общий фоновый цвет */
          --text-color: #000000;            /* Основной цвет текста */
          --muted-text-color: #888888;      /* Приглушённый цвет текста */
          --highlight-color: rgba(230, 0, 18, 0.6); /* Акцент (полупрозрачный) */
      }
      
      body {
          font-family: 'Jost', sans-serif;
          margin: 0;
          padding: 0;
          background-color: var(--background-color); /* Белый фон */
          color: var(--text-color);                  /* Чёрный текст */
          overflow-x: hidden;
      }
      
      header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          padding: 10px 20px;
          background-color: #111;
      }
      
      .logo {
          display: flex;
          align-items: center;
          gap: 10px;
      }
      
      .logo img {
          height: 50px;
      }
      
      .tagline {
          margin-left: 15px;
          font-size: 14px;
          color: var(--muted-text-color);
          white-space: nowrap;
          text-shadow: 0 0 10px var(--highlight-color);
      }
      
      .login {
          padding: 15px 25px;
          border: unset;
          color: var(--text-color);           /* Теперь тёмный, чтобы был контраст */
          z-index: 1;
          background: var(--secondary-color); /* Светлый фон для кнопки */
          position: relative;
          font-weight: 1000;
          font-size: 17px;
          box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.1);
          transition: all 250ms;
          text-decoration: none;
          display: inline-block;
      }
      
      .login::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 0;
          background-color: #d31717a8; /* Полупрозрачный красный */
          z-index: -1;
          box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.1);
          transition: all 250ms;
      }
      
      .login:hover {
          color: var(--text-color);
          background-color: #f0f0f0; /* Чуть темнее, чтобы виден эффект */
      }
      
      .login:hover::before {
          width: 100%;
      }
      
      /* Hero Section */
      .hero {
          text-align: center;
          padding: 40px 0;
          background-color: var(--secondary-color); /* Светлый фон */
      }
      
      .hero-image {
          width: 100%;
          max-width: 2000px;
          height: 400px;
          object-fit: cover;
          border: 0px solid var(--highlight-color); /* Убрали явные пиксели для границы */
          margin: 0 auto;
      }
      
      /* Video Section */
      .video {
          width: 100%;
          max-width: 100vw;
          margin: 0;
          padding: 0;
          overflow: hidden;
      }
      
      .video video {
          width: 100%;
          height: 500px;
          object-fit: cover;
          border: none;
      }
      
      /* Benefits Section */
      .benefits {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          padding: 40px 40px;
          margin-right: 20px;
      }
      
      .benefit {
          text-align: left;
          flex-basis: 30%;
          padding: 30px;
          background-color: var(--secondary-color); /* Светлый фон */
          margin-right: 20px;
          transition: transform 0.3s;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
      }
      
      .benefit:nth-child(2) {
          margin: 0 auto;
      }
      
      .benefit:hover {
          transform: translateY(-10px);
      }
      
      .benefit h3 {
          font-size: 20px;
          margin-bottom: 10px;
          color: var(--text-color);
      }
      
      .benefit p {
          font-size: 16px;
          color: var(--muted-text-color);
          line-height: 1.5;
      }
      
      /* Product Details Section */
      .product-details {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          padding: 40px 20px;
          background-color: var(--secondary-color); /* Светлый фон */
          color: var(--text-color);
          gap: 20px;
      }
      
      .product-details img {
          max-width: 300px;
          border-radius: 10px;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      }
      
      .product-details .details {
          max-width: 500px;
      }
      
      .product-details h2 {
          font-size: 24px;
          margin-bottom: 20px;
      }
      
      .product-details ul {
          list-style: none;
          padding: 0;
      }
      
      .product-details li {
          margin-bottom: 10px;
      }
      
      /* Features Section */
      .features {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          padding: 40px 40px;
          margin-right: 20px;
      }
      
      .feature {
          text-align: left;
          flex-basis: 30%;
          padding: 30px;
          background-color: #e3d8d8;
          margin-right: 20px;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
          transition: transform 0.3s;
      }
      
      .feature:hover {
          transform: translateY(-10px);
      }
      
      .feature h3 {
          font-size: 20px;
          margin-bottom: 10px;
          color: var(--text-color);
      }
      
      .feature p {
          font-size: 16px;
          color: var(--muted-text-color);
          line-height: 1.5;
      }
      
      /* Signup Section */
      .signup {
          position: relative;
          padding: 40px 10px;
          width: calc(95% - 40px);
          background-color: #e3d8d8;
          color: var(--text-color);
          padding-bottom: 40px;
          margin: 0 auto 20px 40px;
      }
      
      .signup h2 {
          font-size: 24px;
          margin-bottom: 20px;
          text-align: left;
          color: var(--text-color);
          padding-bottom: 5px;
      }
      
      .signup form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
      }
      
      .signup input {
          position: absolute;
          margin-top: 10px;
          padding: 15px;
          font-size: 18px;
          border-radius: 5px;
          width: 50%;
          background-color: var(--background-color);
          color: var(--text-color);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
      }
      
      .signup button {
          padding: 15px 30px;
          font-size: 20px;
          background-color: var(--primary-color);
          border: none;
          color: var(--text-color);
          cursor: pointer;
          font-weight: bold;
          align-self: flex-end;
          transition: background-color 0.3s, transform 0.2s;
          margin-right: 95px;
          width: 30%;
      }
      
      .signup button:hover {
          background-color: #c50010;
          transform: translateY(-5px);
      }
      
      /* Footer Section */
      footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
}
      
      .footer-menu a {
          color: var(--muted-text-color);
          text-decoration: none;
          margin: 0 10px;
      }
      
      .footer-menu a:hover {
          color: var(--primary-color);
      }
      
      .social-media a img {
          height: 30px;
          margin: 0 5px;
      }
      
      /* Testimonials Section */
      .testimonials {
          text-align: center;
          padding: 60px 20px;
      }
      
      .testimonial-container {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          position: relative;
          width: 100%;
          margin: 0 auto;
          padding: 20px 0;
      }
      
      .user-icon {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin-left: 200px;
          margin-right: 20px;
          flex-shrink: 0;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .testimonial-text {
          font-size: 20px;
          color: var(--text-color);
          text-align: left;
          display: inline;
          white-space: nowrap;
          margin-left: 300px;
          max-width: 700px;
          line-height: 1.8;
          margin-right: 90px;
      }
      
      /* Navigation Arrows */
      button.prev,
      button.next {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: transparent;
          border: none;
          color: var(--primary-color);
          font-size: 35px;
          cursor: pointer;
          z-index: 1;
      }
      
      button.prev {
          left: 10px;
      }
      
      button.next {
          right: 10px;
      }
      
      button.prev:hover,
      button.next:hover {
          color: #c50010;
      }
      
      /* Benefits Section (Desktop) */
      .benefits {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          padding: 40px;
      }
      
      .benefit {
          flex: 1;
          background-color: #e3d8d8;
          padding: 20px;
          text-align: left;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
      }
      
      .benefit h3 {
          font-size: 20px;
          margin-bottom: 10px;
      }
      
      .benefit p {
          font-size: 16px;
          color: var(--muted-text-color);
      }
      
      /* Benefits Slider (Mobile) */
      .benefits-slider {
          display: none;
      }
      
      .slider-container {
          display: flex;
          align-items: flex-start;
          overflow: hidden;
          margin-top: 20px;
      }
      
      .slider-item {
          flex: 0 0 100%;
          text-align: center;
          font-size: 25px;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
      }
      
      .slider-arrows {
          display: flex;
          justify-content: space-between;
          position: absolute;
          top: 60%;
          left: 0;
          right: 0;
          transform: translateY(-50%);
          pointer-events: none;
      }
      
      button.prev-benefit, button.next-benefit {
          background: transparent;
          border: none;
          color: var(--primary-color);
          font-size: 20px;
          cursor: pointer;
          pointer-events: all;
      }
      
      button.prev-benefit {
          position: absolute;
          left: 10px;
      }
      
      button.next-benefit {
          position: absolute;
          right: 1px;
      }
      
      button.prev-benefit:hover, button.next-benefit:hover {
          color: #c50010;
      }
      
      /* Media Queries */
      @media (max-width: 768px) {
          .benefits {
              display: none;
          }
          .benefits-slider {
              display: block;
          }
          
          body {
              font-size: 16px;
              margin: 0;
              padding: 0;
          }
      
          header {
              flex-direction: row;
              text-align: center;
              justify-content: space-between;
          }
      
          .logo {
              flex: 1; 
              justify-content: flex-start;
          }
      
          .logo img {
              height: 40px;
          }
      
          .tagline {
              font-size: 12px;
              margin-left: 10px;
          }
      
          .login {
              flex: none;
              margin-left: auto;
          }
      
          .hero {
              padding: 0;
              margin: 0;
          }
      
          .hero-image {
              height: 200px;
              margin: 0;
              border-radius: 0;
          }
      
          .video {
              width: 100%;
              max-width: 100vw;
              margin: 0;
              padding: 0;
              overflow: hidden;
          }
          
          .video video {
              width: 100%;
              height: 200px;
              object-fit: cover;
              border: none;
          }
      
          .benefit {
              text-align: center;
              padding: 20px;
          }
      
          .features {
              display: flex;
              justify-content: space-between;
              gap: 20px;
              padding: 20px;
          }
      
          @media (max-width: 768px) {
              .features {
                  flex-direction: row;
                  gap: 20px;
                  padding: 20px 10px;
              }
          
              .feature {
                  margin-right: 5px;
                  margin-left: 16px;
              }
          }
      
          .feature {
              text-align: center;
              padding: 20px;
          }
      
          .testimonials {
              padding: 20px;
          }
      
          .testimonial-container {
              display: flex;
              align-items: flex-start;
              gap: 0px;
              padding: 20px;
              padding-right: 40px;
          }
      
          .user-icon {
              width: 100px;
              height: 100px;
              margin-left: 0;
              margin-bottom: 20px;
          }
      
          .testimonial-text {
              font-size: 15px;
              display: inline;
              white-space: nowrap;
              color: var(--text-color);
              line-height: 1;
              margin-top: 0;
              padding-top: 25px;
              padding-left: 50px;
          }
      
          /* Signup Section */
          .signup {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 20px;
              background-color: var(--secondary-color);
              color: var(--text-color);
              max-width: 400px;
              margin: 0 auto;
              margin-bottom: 10px;
          }
      
          .signup h2 {
              font-size: 24px;
              margin-left: 75px;
              margin-bottom: 15px;
          }
      
          .signup form {
              display: flex;
              flex-direction: column;
              gap: 10px;
              margin-left: 40px;
              width: 100%;
          }
      
          .signup input {
              padding: 10px;
              font-size: 16px;
              width: 68%;
              border: 1px solid #ccc;
          }
      
          .signup button {
              padding: 10px;
              margin-right: 80px;
              margin-top: 60px;
              font-size: 16px;
              width: 80%;
              border: 1px solid #ccc;
          }
      
          footer {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              padding: 20px;
              background-color: var(--secondary-color);
          }
      
          .footer-menu,
          .social-media {
              display: flex;
              align-items: flex-end;
          }
      
          .footer-menu a,
          .social-media a {
              color: var(--muted-text-color);
              text-decoration: none;
              margin: 0 10px;
          }
      
          .footer-menu a:hover,
          .social-media a:hover {
              color: var(--primary-color);
          }
      }
      
      @media (max-width: 1024px) {
          .testimonials {
              padding: 20px;
          }
          .testimonial-container {
              position: relative;
              display: flex;
              align-items: center;
              gap: 20px;
              padding: 20px;
          }
          .user-icon {
              width: 100px;
              height: 100px;
              margin: 0;
              flex-shrink: 0;
          }
          .testimonial-text {
              font-size: 16px;
              white-space: normal;
              text-align: left;
              color: var(--text-color);
              line-height: 1.5;
              margin: 0;
              padding: 10px;
              flex-grow: 1;
          }
          button.prev,
          button.next {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              background-color: transparent;
              border: none;
              color: var(--primary-color);
              font-size: 20px;
              cursor: pointer;
              z-index: 1;
          }
          button.prev {
              left: -20px;
          }
          button.next {
              right: 10px;
          }
          button.prev:hover,
          button.next:hover {
              color: #c50010;
          }
      }
      
      /* Кнопка переключения темы (если есть) */
      #theme-toggle {
          padding: 15px 25px;
          border: unset;
          color: var(--text-color);
          z-index: 1;
          background: var(--secondary-color);
          position: relative;
          font-weight: 1000;
          font-size: 17px;
          box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.1);
          transition: all 250ms;
          overflow: hidden;
          text-decoration: none;
          display: inline-block;
          cursor: pointer;
          margin-top: -180px;
      }
      
      #theme-toggle::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 0;
          background-color: #d31717a8;
          z-index: -1;
          box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.1);
          transition: all 250ms;
      }
      
      #theme-toggle:hover {
          color: var(--text-color);
          background-color: #f0f0f0;
      }
      
      #theme-toggle:hover::before {
          width: 100%;
      }
      
      #theme-toggle:active {
          transform: translateY(2px);
      }
    



      /* ==== Модальное окно (скрыто по умолчанию) ==== */
.modal {
          display: none; /* Скрываем по умолчанию */
          position: fixed; /* Фиксированное положение на экране */
          z-index: 999; /* Поверх всех элементов */
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto; /* Прокрутка, если контента много */
          background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный фон */
        }
        
        /* ==== Контейнер содержимого модального окна ==== */
        .modal-content {
          background-color: #6f6464;
          margin: 10% auto; /* Отцентрируем по вертикали и горизонтали */
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
          max-width: 400px; /* Макс. ширина всплывающего окна */
          position: relative; /* Для позиционирования кнопки закрытия */
          color: #fff;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          border-radius: 8px;
        }
        
        /* ==== Кнопка (иконка) закрытия (крестик) ==== */
        .close {
          color: #aaa;
          float: right; /* Расположить справа */
          font-size: 28px;
          font-weight: bold;
          cursor: pointer;
          position: absolute;
          top: 10px;
          right: 20px;
        }
        
        .close:hover,
        .close:focus {
          color: #fff;
        }
        
        /* Внутренние элементы формы */
        .modal-content form {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
        
        .modal-content form label {
          font-weight: 600;
        }
        
        .modal-content form input[type="text"],
        .modal-content form input[type="tel"] {
          padding: 10px;
          font-size: 16px;
          border: 1px solid #555;
          border-radius: 4px;
          background-color: #222;
          color: #fff;
        }
        
        .modal-content form button {
          background-color: var(--primary-color);
          color: #fff;
          border: none;
          padding: 12px;
          font-size: 16px;
          cursor: pointer;
          border-radius: 4px;
        }
        
        .modal-content form button:hover {
          background-color: #c50010;
        }


        /* Стили для каждой карточки */
 /* --- Карточки мышек --- */
 .mouse-cards {
    display: flex;                  /* Размещаем карточки в ряд */
    justify-content: center;        /* Центрируем их по горизонтали */
    gap: 20px;                      /* Расстояние между карточками */
    padding: 40px;                  /* Внутренние отступы сверху/снизу/слева/справа */
    flex-wrap: wrap;               /* Чтобы карточки переносились на новую строку при узком экране */
    background-color: #181818;      /* Цвет фона секции */
}

.mouse-cards h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: var(--text-color);
    text-shadow: 0 0 5px var(--highlight-color);
}

/* Стили для каждой карточки */
.mouse-cards {
    display: flex;            /* Размещаем карточки в ряд */
    justify-content: center;  /* Центрируем их по горизонтали */
    gap: 20px;                /* Расстояние между карточками */
    padding: 40px;            /* Внутренние отступы */
    flex-wrap: wrap;          /* По умолчанию разрешаем перенос на новую строку */
    background-color: #181818;
}

.mouse-cards {
    display: flex;               /* Размещаем карточки в ряд */
    justify-content: center;     /* Центрируем их по горизонтали */
    gap: 39px;
    margin-right: 45px;                   /* Расстояние между карточками */
    padding: 40px;               /* Внутренние отступы */
    flex-wrap: wrap;             /* По умолчанию разрешаем перенос */
    background-color: #ffffff
}

/* ----- Карточка ----- */
.card {
    background-color: #e3d8d8;
    flex: 1 1 250px;             /* Каждый блок тянется, минимальная ширина ~250px */
    max-width: 800px;            /* Можно ограничить максимальную ширину карточки */
    text-align: center;

    
    margin: 8px;


    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px) scale(1.03);
}

/* ----- Контейнер для изображения ----- */
.card-image-container {
    margin: 0 auto;           /* Центрируем контейнер */
    width: 30%;
    height: 200px;
    position: relative;
    overflow: hidden;         /* Скрываем «вылезающие» части при анимации */
    margin-bottom: 15px;
}

/* Изображение внутри карточки */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: pulse 3s infinite ease-in-out; /* Добавляем цикличную анимацию */
}

/* Анимация увеличения и возврата к исходному размеру */
@keyframes pulse {
    0% {
        transform: scale(1); /* Исходный размер */
    }
    30% {
        transform: scale(1.2); /* Увеличение */
    }
    100% {
        transform: scale(1); /* Возврат к исходному размеру */
    }
}

/* Текст описания */
.card p {
    font-size: 16px;
    color: #bbb;
    line-height: 1.5;
}

/* --- Адаптация под мобильные устройства --- */
@media (max-width: 768px) {
    .mouse-cards {
        flex-wrap: nowrap;         /* Запрещаем перенос */
        justify-content: space-around; 
        padding: 20px; 
        margin-left: 18px;
        margin-right: 12px;            /* Уменьшаем отступы */
    }
    .card {
        max-width: 100%; /* Увеличиваем ширину карточки */
        margin-right: 9px;
        margin-left: -8px;
    }

    .card-image-container {
        margin: 0 auto;           /* Центрируем контейнер */
        height: 50px;
        
        position: relative;
        overflow: hidden;         /* Скрываем «вылезающие» части при анимации */
        margin-bottom: 15px;
    }
}

/* ----- Общая обёртка карусели ----- */
.carousel {
    position: relative;      /* Для возможной абсолютной позиции кнопок или индикаторов */
    width: 100%;             /* Растягиваем на всю ширину контейнера */
    max-width: 500px;        /* Можно задать максимальную ширину */
    margin: 0 auto;          /* Центрируем слайдер на странице */
    overflow: hidden;        /* Скрываем «лишние» части при прокрутке внутри */
    
  }
  
  /* ----- Контейнер со слайдами ----- */
  .carousel-container {
    display: flex;                     /* Ряды слайдов */
    transition: transform 0.5s ease;   /* Плавная анимация при смене слайда */
    will-change: transform;            /* Оптимизация рендеринга */
  }
  
  /* ----- Каждый слайд ----- */
  .carousel-slide {
    flex: 0 0 100%;  /* Каждый слайд занимает 100% ширины видимой области */
    position: relative;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;     /* Автоматическая пропорция по высоте */
    display: block;   /* Убираем возможные «пустые» пробелы */
  }
  
  /* ----- Индикаторы-точки ----- */
  .carousel-dots {
    text-align: center;
    margin-top: 10px;
  }
  
 
  
  .carousel-dots .dot.active {
    background-color: #333;  /* Активная точка */
  }
  
  /* ----- Адаптивность под мобильные устройства ----- */
  @media (max-width: 768px) {
    .carousel {
      max-width: 80%;  /* На мобильных пусть тянется на всю ширину экрана */
    }
  
    .carousel-dots .dot {
      width: 10px;
      height: 10px;
    }
  }
        

  .about-company {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    padding: 40px;
    background-color: var(--background-color);
}

/* Flex container for image and text */
.about-container {
    display: flex;
    justify-content: center; /* Center the content */
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Limit the max width */
    gap: 40px; /* Space between the image and text */
    margin-bottom: 40px; /* Space below the container */
}

/* Left Image Styling */
.about-image img {
    width: 100%;
    max-width: 500px; /* Limit the image width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px; /* Rounded corners for the image */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Add shadow for better focus */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.about-image img:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); /* Enhance shadow on hover */
}

/* Right Text Block Styling */
.about-box {
    flex: 1;
    max-width: 500px;
    min-height: 600px; /* Минимальная высота */
    background-color: rgb(59 52 52 / 80%); /* Полупрозрачный фон */
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: left;
    transition: transform 0.3s ease, background-color 0.3s ease, backdrop-filter 0.3s ease;
    backdrop-filter: blur(10px); /* Размытие фона позади блока */
}

.about-box:hover {
    transform: translateY(-10px); /* Поднимаем блок при наведении */
    background-color: rgba(107, 58, 58, 0.9); /* Немного затемняем при наведении */
    backdrop-filter: blur(12px); /* Увеличиваем размытие на ховер */
}

.about-box h2 {
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 170px; /* Добавляем небольшой отступ */
    text-align: center;
}

.about-box p {
    font-size: 18px;
    color: #ebeaea;
    line-height: 1.6;
    margin: 0; /* Убираем нижние отступы, если они не нужны */
}



/* Below Video Section */
.about-video video {
    width: 100%;
    max-width: 1200px; /* Increase the maximum width of the video */
    height: 550px; /* Maintain aspect ratio */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4); /* Enhance shadow for emphasis */
    margin-top: 30px; /* Add space above the video */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-video video:hover {
    transform: scale(1.02); /* Slightly enlarge the video on hover */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6); /* Enhance shadow on hover */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .about-video video {
        max-width: 100%; /* Ensure the video fits the screen width */
        margin-top: 20px; /* Reduce the margin on smaller screens */
    }
}


/* Responsive Adjustments */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Stack image and text vertically */
        text-align: center; /* Center-align text */
    }

    .about-image img {
        max-width: 100%; /* Full width for smaller screens */
        margin-bottom: 20px; /* Add space below the image */
    }

    .about-box {
        max-width: 100%; /* Full width for the text box */
    }
}

/* Add animation on page load */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-container {
    animation: fadeIn 0.8s ease-in-out; /* Apply fade-in animation */
}

.about-video {
    animation: fadeIn 1.2s ease-in-out; /* Slight delay for the video animation */
}


/* Shopping Cart Section */
.shopping-cart {
    padding: 120px;
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 1200px;
    margin: 0 auto;
}

.shopping-cart h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 20px;
    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.item-details {
    flex: 1;
}

.item-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.item-details p {
    font-size: 16px;
    color: var(--muted-text-color);
}

.quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity input {
    width: 60px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--muted-text-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}

button.remove-item {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.remove-item:hover {
    background-color: #c50010;
}

.cart-summary {
    margin-top: 30px;
    background-color: var(--secondary-color);
    padding: 20px;
    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.cart-summary h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.cart-summary p {
    margin-bottom: 10px;
    font-size: 18px;
}

button.checkout {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

button.checkout:hover {
    background-color: #c50010;
    transform: translateY(-3px);
}


@media (max-width: 768px) {
    .cart-items {
        gap: 15px;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item img {
        width: 80px;
        height: 80px;
    }

    .quantity input {
        width: 50px;
    }

    .cart-summary {
        padding: 15px;
    }

    button.checkout {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}
