* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #ffff;
    background: #27353f;
}

.container {
    min-height: 800px;
    background: url('https://img.freepik.com/premium-photo/clear-plain-shiny-soft-vintage-bokeh-cloudy-wave-like-geometric-black-background-texture_1262705-90902.jpg?semt=ais_hybrid') center/cover no-repeat;
}

.my_projects {
    display: block;
    left: 10px;
}

.my_projects a {
    color: #39bedc;
}

#mailme {
    color: aliceblue; 
}